<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SketchCamera</title>
</head>

<body>
    <!--Stream video from webcam-->
    <div class="grabvideo">
        <video id="video1" playsinline autoplay></video>
    </div>

    <!--Capture snapshot of video-->
    <div calss="api">
        <button id="capture">Take a Pic!</button>
    </div>

    <!--Display the captured snapshot on screen-->
    <canvas id="displayPic" width="640" height="480"></canvas>

    <script>
        'use strict';

        //declaring variables to capture elements from the html
        const video1= document.getElementById('video1');
        const capture= document.getElementById('capture');
        const displayPic= document.getElementById('displayPic');
        const errElement= document.getElementById('span#ErrorMsg');

        //constraints for capturing the webcam data
        const constraints = { 
            audio:false, //audio not captured
            video:{
                width:1280, height:720 //weidth and height of the captured video from the webcam
            } 
        };

        //access webcam
        async function init(){
            try{
                const stream = await navigator.mediaDevices.getUserMedia(constraints);
                handleSuccess(stream);
            }
            catch(e){
                errElement.innerHTML=`navigator.getUserMedia.error:${e.toString()}`;
            }
        }

        //success
        function handleSuccess(stream){
            window.stream = stream;
            video.srcObject = stream;
        }

        //load init
        init();

        //Draw imaged
        var content = displayPic.getContext('2d');
        capture.addEventListener("click", function(){
            content.drawImage(video1,0,0,640,480);
        });
        

    </script>

    <!--

    <div>
        <script>

            // Put event listeners into place
            window.addEventListener("DOMContentLoaded", function() {
                // Grab elements, create settings, etc.
                var canvas = document.getElementById('canvas');
                var context = canvas.getContext('2d');
                var video = document.getElementById('video');
                var mediaConfig =  { video: true };
                var errBack = function(e) {
                    console.log('An error has occurred!', e)
                };
    
                // Put video listeners into place
                if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia(mediaConfig).then(function(stream) {
                        //video.src = window.URL.createObjectURL(stream);
                        video.srcObject = stream;
                        video.play();
                    });
                }
    
                /* Legacy code below! */
                else if(navigator.getUserMedia) { // Standard
                    navigator.getUserMedia(mediaConfig, function(stream) {
                        video.src = stream;
                        video.play();
                    }, errBack);
                } else if(navigator.webkitGetUserMedia) { // WebKit-prefixed
                    navigator.webkitGetUserMedia(mediaConfig, function(stream){
                        video.src = window.webkitURL.createObjectURL(stream);
                        video.play();
                    }, errBack);
                } else if(navigator.mozGetUserMedia) { // Mozilla-prefixed
                    navigator.mozGetUserMedia(mediaConfig, function(stream){
                        video.src = window.URL.createObjectURL(stream);
                        video.play();
                    }, errBack);
                }
    
                // Trigger photo take
                document.getElementById('snap').addEventListener('click', function() {
                    context.drawImage(video, 0, 0, 640, 480);
                });
            }, false);
    
        </script>
    


    </div>

    <div style="color:rgba(231, 37, 37, 0.473)">
        <form action="{{ url_for('predict')}}" method="post">
            <h2>Predict Campus placement salary offering</h2>
            <h3>Enter the following details about yourself...</h3>
            <div>
                <h4><b>SSC Detials</b></h4>
                <label for="ssc_board">SSC board</label>
                <select name="ssc_board" id="ssc_board">
                    <option value="Central">Central</option>
                    <option value="Others">Others</option>
                </select>
                <h4>SSC percentage:</h>
                <input id="ssc_p" name="ssc_percentage" type="number ">
            </div>
            <br>
            <div>
                <h4><b>HSC Detials</b></h4>
                <label for="hsc_board">HSC board</label>
                <select name="hsc_board" id="hsc_board">
                    <option value="Central">Central</option>
                    <option value="Others">Others</option>
                </select>
                <br>
                <label for="hsc_specialization">HSC Specilization</label>
                <select name="hsc_specialization" id="hsc_s">
                    <option value="Commerce">Commerce</option>
                    <option value="Science">Science</option>
                    <option value="Arts">Arts</option>
                </select>
                <h4>HSC percentage:</h>
                <input id="hsc_p" name="hsc_percentage" type="number ">
            </div>
            <br>
            <div>
                <h4><b>Graduation Detials</b></h4>
                <label for="degree_specialization">Degree Specilization</label>
                <select name="degree_specialization" id="degree_t">
                    <option value="Sci&Tech">Sci&Tech</option>
                    <option value="Comm&Mgmt">Comm&Mgmt</option>
                    <option value="Others">Others</option>
                </select>
                <h4>Degree percentage:</h>
                <input id="degree_p" name="degree_percentage" type="number ">
            </div>
            <br>
            <div>
                <h4><b>MBA Detials</b></h4>
                <label for="mba_specilization">MBA Specilization</label>
                <select name="mba_specilization" id="specialization">
                    <option value="Mkt&HR">Mkt&HR</option>
                    <option value="Mkt&Fin">Mkt&Fin</option>
                </select>
                <h4>MBA percentage:</h>
                <input id="mba_p" name="mba_percentage" type="number ">
            </div>         
            <br>
            <div>
                <h4><b>Employability Detials</b></h4>
                <label for="work_exp">Work Experience</label>
                <select name="work_experience" id="workex">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
                <h4>Employability Test Percentage:</h>
                <input id="etest_p" name="employabilityTest_percentage" type="number ">
            </div>
            <button id="make_predictions" type="submit ">Predict Placement</button>
        </form>

        <h3>{{ prediction_placement }}</h3>

    </div>

    <style>
        body {
            background-color: rgba(90, 120, 153, 0.658);
            text-align: center;
            padding: 0px;
        }   
        
    </style>

    -->
</body>

</html>