<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>SketchCamera</title>
  <meta name="description" content="This is a page for the SketchCamera app">
  <meta name="author" content="Adi">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>-->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/skeleton_normalize.css">
  <link rel="stylesheet" href="css/skeleton_base.css">
  <link rel="stylesheet" href="css/custom.css">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section">
    <div class="container">
        <div class="row">
        <div class="one-half column">
          <h4 class="hero-heading">My video</h4>
          <div>
              <!--Video feed from my webcam should be displayed here-->
          </div>
          <a class="button button-primary" href="">SketchMe</a>
        </div>

        <div>
          <h4>Checkout your sketches..</h4>
          <div>
              <!--Different images should be displayed here-->
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="section">
    <div class="container">        
      <h3 class="section-heading">Project details</h3>
      <p class="section-description">You can find the link to the GitHub project here.</p>
      <a class="button button-primary" href="">View Source on GitHub</a>
    </div>
  </div>

</body>
</html>